RUST_LOG="info"
POSTGRES_HOST="localhost"
POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_DB=""

# For sqlx-cli
DATABASE_URL="postgresql://user:pwd@host:port/db"

# Needed during bootstrap if there isn't a Platform level user marked as owner
PLATFORM_OWNER_EMAIL=""
PLATFORM_OWNER_PASSWORD=""

JWT_SECRET=""
